
.cabecalho-moda{
    background-color: #bb86fc;
    color: #fff;
    padding: 7px;
}

.informacoes{
    background-color: #424250;
    color: #fff;
}

.cabecalho-casa{
    background-color: #00c4b4;
    color: #fff;
    padding: 7px;
}

